<div id="invoice">
    <div class="content" style="height: 300px; width: 300px; background-color: #000428">
        <div class="inv-header">
            <div class="inv-header-label">
                <div class="inv-header__logo">
                    sadfsafsafdf
                </div>
            </div>
            <div class="inv-header-toolbar">
            </div>
        </div>

        <div class="inv-body">
            <div class="inv-body__content">
            </div>
        </div>
    </div>
</div>
