<section>

  <div class="side-picture" id="picture_login">
    <picture class="cover">
      <source class="cover" srcset="../../../assets/img/ezgif.com-gif-maker.webp" type="image/webp">
      <img alt="image" class="cover" src="../../../assets/img/ezgif.com-gif-maker.webp">
    </picture>
  </div>


  <div class="login-form">
    <form (ngSubmit)="submit()" [formGroup]="loginForm">
      <div *ngIf="hasError" class="login-error">
        {{errorMessage}}
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Emri i përdoruesit</mat-label>
        <input autofocus formControlName="username" matInput size="13px" type="text">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fjalëkalim</mat-label>
        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput size="13px">
        <button (click)="hide = !hide" [attr.aria-label]="'Fshihe fjalëkalimin'" [attr.aria-pressed]="hide" mat-icon-button matSuffix
                type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>


      <button [disabled]="loading" color="primary" mat-raised-button type="submit">
        Kyçu<span *ngIf="loading" id="login_button"></span></button>
    </form>
  </div>

</section>
