<section>

    <div class="side-picture" id="picture_login">
        <picture class="cover">
            <source class="cover" type="image/webp" srcset="../../../assets/img/ezgif.com-gif-maker.webp">
            <img class="cover" src="../../../assets/img/ezgif.com-gif-maker.webp" alt="image">
        </picture>
    </div>

    <div class="login-form">
        <!-- todo: implement error message here  -->
        <form [formGroup]="loginForm">

            <mat-form-field>
                <mat-label>Emri i përdoruesit</mat-label>
                <input matInput type="text" size="13px" formControlName="username">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fjalëkalim</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" size="13px" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Fshihe fjalëkalimin'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>


            <button color="primary" mat-raised-button (click)="submit()">Kyçu
                <span id="login_button" *ngIf="loading"></span></button>
        </form>
    </div>

</section>