.cart-header {
    width: 100%;
    height: 110px;
    background-image: url("src/assets/img/10620-min.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -8px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.unit {
    position: relative;
    padding: 15px;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #bcbdbb;
}

.unit-info {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.unit-photo {
    display: inherit;
    flex-direction: inherit;
}

.row {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.row img {
    width: 80px;
    height: 80px;
}

#checkout_button_id {
    position: absolute;
    right: 0;
    margin: auto;
}