<mat-card>
  <mat-card-header>
    <mat-card-title id="title_id">{{_title}}</mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <p id="message_id" style="text-align: center">{{_message}}</p>
  </mat-card-content>
  <hr>
  <mat-card-actions align="end">
    <button (click)="onNoClick()" *ngIf="_cancelButton" class="btn-danger-outline" id="cancel_button_id"
            mat-stroked-button>{{_cancelButtonText}}
    </button>
    <button (click)="onYesClick()" class="btn-success-outline" id="confirm_button_id"
            mat-stroked-button>{{_confirmButtonText}}
    </button>
  </mat-card-actions>
</mat-card>
