section {
  min-height: calc(100vh - 50px);
}

.content {
  padding: 10px;
  height: auto;
  min-height: calc(100vh - 50px);
  box-sizing: border-box;
  box-shadow: 1px 0 3px gray;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 10px;
  margin: 5px 0;
  box-shadow: 1px 0 10px gray;
  background-color: white ;
  border-top-left-radius: 2px;
}
