<form [formGroup]="orderForm">
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Informacione shtesë për {{data['table'].code}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <img src="{{data['table'].image}}" width="100px" height="100px" alt="table">
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Sasia</mat-label>
                        <input matInput formControlName="amount" type="number">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Lartësi</mat-label>
                        <input type="number" matInput formControlName="height">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Gjerësi</mat-label>
                        <input type="number" matInput formControlName="width">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Gjatësi</mat-label>
                        <input type="number" matInput formControlName="depth">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="Shënime" formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="btn-success" type="submit" (click)="dialogRef.close({'order': orderForm.value})">
                <mat-icon>add</mat-icon>
                Shto
            </button>
            <button mat-raised-button type="button" (click)="dialogRef.close()">
                <mat-icon>reply</mat-icon>
                Mbyll
            </button>
        </mat-card-actions>
    </mat-card>
</form>
