<form [formGroup]="orderForm">
    <mat-card class="shipping-card">

        <mat-card-header>
            <mat-card-title>Informacione shtesë<br>{{data['table'].code}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col">
                    <img alt="table" height="100px" src="{{data['table'].image}}" width="100px">
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Shënime</mat-label>
                            <textarea formControlName="description" matInput></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Amount -->
                <mat-form-field class="col-3" appearance="outline">
                    <mat-label>Sasia</mat-label>
                    <input formControlName="amount" matInput type="number">
                    <span matSuffix>copë</span>
                </mat-form-field>

                <!-- Height -->
                <mat-form-field class="col-3" appearance="outline">
                    <mat-label>Lartësi</mat-label>
                    <input formControlName="height" matInput type="number">
                    <span matSuffix>cm</span>
                </mat-form-field>

                <!-- Width -->
                <mat-form-field class="col-3" appearance="outline">
                    <mat-label>Gjerësi</mat-label>
                    <input formControlName="width" matInput type="number">
                    <span matSuffix>cm</span>
                </mat-form-field>

                <!-- Depth -->
                <mat-form-field class="col-3" appearance="outline">
                    <mat-label>Gjatësi</mat-label>
                    <input formControlName="depth" matInput type="number">
                    <span matSuffix>cm</span>
                </mat-form-field>

            </div>
        </mat-card-content>

        <mat-card-actions align="center">
            <button (click)="dialogRef.close()" mat-raised-button type="button">
                <mat-icon>reply</mat-icon>
                Mbyll
            </button>
            <button (click)="dialogRef.close({'order': orderForm.value})" class="btn-success"
                    mat-raised-button type="submit">
                <mat-icon>add</mat-icon>
                Shto
            </button>
        </mat-card-actions>
    </mat-card>
</form>
