<div class="container">
    <div class="card" *ngFor="let table of tables$ | async">
        <div class="card-image">
            <img src="{{table.image}}" alt="image" (click)="openPhoto(table.image)">
            <!--            <div class="card-info">{{table.width | number: '2.0'}} x {{table.height | number: '2.0'}} x {{table.depth}}</div>-->
        </div>
        <div class="card-footer">
            <button mat-icon-button (click)="openForm(table)">+</button>
            <mat-chip-list>
                <mat-chip selected color="primary">{{table.code}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>
</div>
