<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [mode]="'side'"
                 [opened]="false"
                 [attr.role]="'navigation'">
        <mat-toolbar class="inside-toolbar">ITALGOLD
            <button style="margin-left: 50px;"
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu_open</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a class="mat-nav-list" mat-list-item routerLink="order/tables" routerLinkActive="active">
                <button mat-icon-button>
                    <mat-icon>amp_stories</mat-icon>
                </button>
                Tabakatë
            </a>
            <a class="mat-nav-list" mat-list-item routerLink="/order/form" routerLinkActive="active">
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
                Përfundo porosinë
            </a>
            <a class="mat-nav-list" mat-list-item routerLink="/order/list" routerLinkActive="active">
                <button mat-icon-button>
                    <mat-icon>list</mat-icon>
                </button>
                Lista e porosive
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="outside-toolbar">
            <button *ngIf="!drawer.opened"
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div class="align-end">

                <!-- CART -->
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon *ngIf="!(cartCount$ | async)">shopping_cart</mat-icon>
                    <mat-icon *ngIf="cartCount$ | async as count" matBadge="{{count}}">shopping_cart</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="mat-cart-panel">
                    <app-cart></app-cart>
                </mat-menu>
                <!-- END CART -->

                <!-- LOGIN -->
                <button mat-icon-button [matMenuTriggerFor]="login">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #login="matMenu" class="mat-user-panel">
                    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
                </mat-menu>

            </div>
        </mat-toolbar>

    </mat-sidenav-content>
</mat-sidenav-container>
