<div class="content" id="content">
    <form [formGroup]="orderForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
            <div class="row full-width">
                <mat-card-header>
                    <mat-card-title>Përfundo porosinë</mat-card-title>
                </mat-card-header>
                <div class="col align-end">
                    <mat-card-actions class="align-end">
                        <a routerLink="/order/tables">
                            <button mat-raised-button>
                                <mat-icon>undo</mat-icon>
                                Kthehu
                            </button>
                        </a>
                        <button mat-raised-button color="primary" type="submit">
                            <mat-icon>save</mat-icon>
                            Ruaje
                        </button>
                        <button mat-raised-button class="btn-success" type="button" (click)="openEmailSendDialog()">
                            <mat-icon>email</mat-icon>
                            Dërgo Faturën
                        </button>
                    </mat-card-actions>
                </div>
            </div>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Klienti</mat-label>
                            <input type="text" matInput formControlName="customer">
                            <mat-hint>Emri i plotë i klientit</mat-hint>
                            <mat-error>Klienti duhet plotësuar</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Ngjyra brëndshme</mat-label>
                            <mat-select formControlName="inner_color" id="inner_color">
                                <mat-option [style.background-color]="color.hex_code" style="color: white" *ngFor="let color of innerColors" [value]="color.id">{{color.code}}</mat-option>
                            </mat-select>
                            <mat-error>Ngjyra duhet plotësuar</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Ngjyra jashtme</mat-label>
                            <mat-select formControlName="outer_color" id="outer_color">
                                <mat-option [style.background-color]="color.hex_code" style="color: white" *ngFor="let color of outerColors" [value]="color.id">{{color.code}}</mat-option>
                            </mat-select>
                            <mat-error>Ngjyra duhet plotësuar</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </form>
    <div class="container">
        <div class="card" *ngFor="let unit of cart$ | async">
            <div class="card-image">
                <img src="{{unit.table.image}}" alt="image">
                <div class="card-info">Përmasat e zgjedhura: {{unit.width | number: '2.0'}} x {{unit.height | number: '2.0'}} x {{unit.depth}}</div>
            </div>
            <div class="card-footer">
                <mat-chip-list>
                    <mat-chip selected color="primary">Kodi: {{unit.table.code}}</mat-chip>
                    <mat-chip selected style="background-color: #ff4646">Sasia: {{unit.amount}} copë</mat-chip>
                    <mat-chip selected style="background-color: #32870f">Çmimi total: ${{ (unit.amount * unit.table.price) | number: '': 'en'}}</mat-chip>
                </mat-chip-list>
                <div class="description-text">
                    <p>{{unit.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
