<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [mode]="'side'"
                 [opened]="(isHandset$ | async) === false"
                 [attr.role]="'navigation'">
        <!-- insert logo here -->
        <mat-toolbar class="inside-toolbar">ITALGOLD</mat-toolbar>
        <mat-nav-list>
            <a class="mat-nav-list" mat-list-item routerLink="/tables">
                <button mat-icon-button>
                    <mat-icon>amp_stories</mat-icon>
                </button>
                Porosi e re</a>
            <a class="mat-nav-list" mat-list-item routerLink="/address/form">
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
                Shto tabaka</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="outside-toolbar">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <!--            <span>Italgold</span>-->
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
