/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Poppings sans-serif;
  color: rgb(82, 89, 124);
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-success {
  background-color: #13a84a;
  color: white;
}

.btn-danger {
  background-color: #971f00;
  color: white;
}

.btn-warning {
  background-color: #b2802a;
  color: white;
}

.data-table {
  font-size: 13px;

  & tr td {
    padding-right: 20px;
    color: rgb(100, 108, 154);
    font-family: Poppings, sans-serif;
  }

  & td:last-child {
    padding: 0 !important;
  }
}

mat-dialog-container {
  border-radius: 2px !important;
}